*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
  background: rgb(14, 24, 80);
  line-height: 1.5;
  font-size: 0.875rem;
}
h2 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-size: 20px;
}
@media screen and (min-width: 800px) {
  h2 {
    font-size: 20px;
    line-height: 1;
  }
}

.btn {
  font-family: "Times New Roman", Times, serif;
  background: #355381;
  color: white;
  padding: 1rem 1rem;
  display: block;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  margin: 0 auto;
  margin-top: 2rem;
}
.block {
  min-height: 35vh;
}
.bcg-black {
  background: #355381;
}

.container {
  width: 90vw;
  max-width: 730px;
  background: #85a2d1;
  margin: 0 auto;
  margin-top: -200px;
  position: relative;
  text-align: center;
  padding: 1rem;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  background: #526b91;
}
.container img {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 0%;
  padding: 4px;
  background: rgb(20, 55, 107);
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 1px;
}
.user-name {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0;
}
.user-value {
  color: hsl(209, 74%, 12%);
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: -5px;
}
.values-list {
  margin-top: 1px;
}
b {
  font-weight: bold;
  font-size: 20px;
  color: antiquewhite;
}

@media screen and (min-width: 800px) {
  .user-value {
    font-size: 40px;
  }
}
